<% layout('campgrounds/layouts/boilerplate.ejs') %> 
    <h1> campground </h1>
    
    <!-- <a href="/campgrounds/new"> create a campground </a> -->

    <ul>
        <% for( let campground of cs ) { %>
            <li> <a href="/campgrounds/<%= campground._id %> "> <%= campground.title %>   </a> </li>
            <!-- <li> <%= campground.location %>  </li> -->
        
        <% } %>
    </ul>
